

.headerPage{
	border: 1px solid #FFF;
	height: 130px;
	background-image: url(imageFromCss/sky.png); 
	 position: relative;  
}

.mainLogotype > img{
 top: 1em; 
 left: 10%;
 position: relative; 
			
}
.languages{
	top: 0.2em; 
 	left: 80%;
 	position: relative; 
 	background-color: #67AEFF;
}

.mainTitle h1{
	color: blue;
	font-weight: 100;
	margin-left: 5.5em;
	margin-top: 2em;

}
.titleItinerary h2{
	display: inline;
	margin-top: 2em;
	color: blue;
	font-weight: bold;
	margin-left: 7.3em;
}
.fareRule{
	margin-left: 31.5em;
	display: inline;
}
.flightDetails,.codePlain,.addInfo{
	
	float: left;
	
}
.flightDetails{
	min-width: 14em;
	margin-left: 10px;

}
.codePlain,.addInfo{
	min-width: 3em;
	margin-left: 15px;
}

.detailsOddFlight,.detailsEvenFlight{
	
	padding-top: 1em;
	height: 5em;
	
	width: 50.3em;
	
	border: 1px solid #555555;
	
}
.detailsEvenFlight{
	
	background: #F2F2F5;

}
.detailsOddFlight{
	background: #D2D3E6;
}

.cleaner{
	width:100%;
	 height:1px; 
	 clear:both;
}
.borderMain{
	margin-left: 11em;
	border: 1px solid #D2D3E6;
}
.places{
	color: blue;
	font-weight: bold;
}
.timeFlight,.smallSign{
	font-size: 14px;
}
.captionTableFare{
	padding: 0.6em;
	margin-left: 1em;
	font-weight: bold;
	text-align: left;
	color: blue;
}  
.tableFareBreakdown {
	width: 50.35em;
}

 .tableFareBreakdown tr {
    border: 1px dotted #D2D3E6;

     
}
.tableFareBreakdown td {
	padding:  10px 15px;
    
}
.headTableFare th{
	background-color: blue;
	color: #FFFFFF;
	font-weight: 100;
	font-size: 15px;
	padding-left:  15px;
}
.alignRight{
	text-align: right;
}
.alignLeft{
	text-align: left;
}
.mainListFlight {
	list-style: none;
}
.listOddFlight,.listEvenFlight{
	list-style: disc;
}
.totalFareFooter{
	text-align: right;
	
	padding-right: 1em;
	border: 1px solid #D2D3E6;
	width: 49.25em;
	
}
.totalFare{
	color: blue;
	font-weight: bold;
}
.numberFare{
	color: red;
	font-size: 26px;
	font-weight: bold;
}
.saving{
	color: red;
	font-weight: bold;
}
.airFare{
	width: 61.5em;
}
.passengerSelection{

	float:left;

	width:250px;
	margin: 0px ;
	margin-top: 5em;
	padding: 0px 1em;
	
	background-image: url(imageFromCss/middle.png);

	background-position: top;


}
.mainSection{

float:left;
 width: 76%;
 max-width: 76%;
 margin: 20px 10px 20px 20px;

}
.selectionHeader{
	background-image: url(imageFromCss/head.png);
	background-repeat: none;
	padding: 0.8em;
	background-position: top;
	margin-top: -20px;
	margin-left: -1em;
	margin-right: -14px;

}
.selectionHeader h2{
	
	padding-top: 0.1em;
	color: #FFFFFF;
	position: relative;
	margin-top: -10px;
	padding-bottom: -10em;
	margin-left: -0.1em;


}

.flights h3{
	color: blue;
	margin-bottom: 0px;
}
.nameCityAside{
	padding-top: 10px;
	color: blue;
	font-size: 14px;
	font-weight: 800;
}
.depArr{
	
		color: #4DBAF9;
	text-align: left;
	font-size: 14px;
	font-weight: 100px;
}
.depArr span{
	float: right;
    text-align: right;
	font-weight: normal;
	color: blue;
	padding-right: 1em;
}

#farePart{
	margin-top: 15px;
	
	
}
.fareAside p{
	margin-top: 0px;
	margin-bottom: 2px;
	padding-top: 0px;
	
	font-size: 13px;
}
.fareAside span{
	float: right;
    text-align: right;
    padding-right: 1em;
	
	
}
.fareAside em{
	color: red;
	font-style: normal;
	

}
.borderArr{
	padding-bottom: 10px;
	border-bottom: 1px dotted #D2D3E6;

}
.totalAirFare p{
	font-size: 14px;
	padding-bottom: 1em;
	border-bottom: 1px solid #D2D3E6;
}
.totalAirFare span{
	float: right;
    text-align: right;
    padding-right: 1em;
	
}
.luggage>p{

	color: blue;
	font-weight: bold;
	font-size: 18px;
}
.luggageAside>p{
	font-size: 13px;
	
	padding-bottom: 10px;
}

.alighRightTotalLuggage{
	float: right;
    text-align: right;
    padding-right: 1em;
	
}
.alighRightExtra{
	float: right;
    text-align: right;
}
.TotalLuggagePrice{
	border-bottom: 1px solid #D2D3E6;
	
}
.ExtraWeight{
	border-bottom: 1px dotted #D2D3E6;
}
.insuranceTitle{
	font-size: 18px;
	color: blue;
	font-weight: bold;
}
.totalInsuranceText{
	font-size: 13px;
	margin:2px;

}
.allightInsurance{
	float: right;
    text-align: right;
    
}
.totalInsuranceAll{
	font-size: 13px;
	border-top: 1px dotted #D2D3E6;
	border-bottom: 1px solid #D2D3E6;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.totalInsuranceAll span{

	float: right;
    text-align: right;
    padding-right: 1em;
    
}
.totalPriceAside{
	

	
	font-size: 13px;
	color: blue;
	font-weight: bold;
	
}
.footerImage{
	padding-bottom: 14px;
	
	margin-left: -10px;
	margin-right: -10px;
	background-image: url(imageFromCss/footer.png);
	background-position: bottom;
}
.totalPriceAside span{

	padding-left: 4em;
	color: red;
	font-size: 18px;
	font-weight: bold;
}
.totalPriceAside a{
	padding-left: 9em;

	font-size: 13px;

}
.totalPriceAside p{
	margin:0px 0px 0px;
	margin-left: 10px;

}
.nameLuggage h2{
	display: inline;
	margin-top:  10em;

	color: blue;
	font-weight: bold;
	margin-left: -1em;

}
.nameLuggage{
	
	margin-top: 3em;
	margin-bottom: 1em;
}
.luggageOptional,.travelInsurance{
	width: 42.4em;
 	margin-left: 12em;
}
.wrapperBookingOnline,.wrapperTravelInsurance{
	border: 1px solid #D2D3E6;
	margin-left: -1em;
	margin-right: -7em;
}
.bookingOnline{
	background-image:  url(imageFromCss/bag.png) ;
	background-repeat: no-repeat;
	height: 67px;
	background-position: 30px 10px;
	text-align: center;
	padding-top: 30px;
	color: blue;
	font-weight: bold;
	padding-left: 30px;
	border-bottom: 1px solid #D2D3E6;
}
.nameFlightLuggage{
	padding-bottom: 1.7em;
	padding-left: 3em;
	margin: 1em 0em;
	background-image:  url(imageFromCss/Rplane.png) ;
	background-repeat: no-repeat;
	background-position: 45em 1em ;
}
.nameFlightLuggageSpan{
	color: blue;
	font-size: 14px;
	font-weight: bold;


}
.passenger{
	display: inline;
	margin-left: 4em;
	font-size: 13px;
	

}
.passengerBag{
	display: inline;
	font-size: 13px;
	padding-left: 14em;
}
.includedAlight{
	padding-left: 7em;
}
.luggageFirstPassenger,.luggageSecondPassenger{
	min-width: 20em;
	
}
#secondBagFirstPass{
	margin-left: 13.3em;
	text-align: left;
}
.addLuggage{
	padding-left: 1em;
	margin: 1em 0em;
	text-align: center;
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px dotted #D2D3E6;

}
.luggageThirdPassenger{
	min-width: 20em;
	margin-left: -3.8em;
}
#addWithSolidLine{
	border-bottom: 1px solid #D2D3E6;
}
.nameFlightLuggageSpanDepart{
	color: blue;
	font-size: 14px;
	font-weight: bold;
	padding-left: 3.5em;
}
.bagsPassenger{
	padding-left: 14em;
	padding-right: 5.5em;
	
}
.withPlain{
	background-image:  url(imageFromCss/Lplane.png) ;
	background-repeat: no-repeat;
	background-position: 45em 0em ;
	
}
.bagsPassengerIncluded{
	padding-left: 10.8em;

}
.includedAlightIncluded{
	padding-left: 12.4em;
}
.selectedAdditionalBags{
	margin-top: 0.5em;
	font-size: 13px;
	min-width: 20em;
	margin-left: 27em;
}
.addLuggageMore{
	padding-left: 1em;
	margin: 1em 0em;
	text-align: center;
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid #D2D3E6;
	font-size: 13px;
}
.totalLuggage{
	text-align: right;
	margin-bottom: 1em;

}
.fareTotalLuggageName{
	font-size: 15px;
	color: blue;
	font-weight: bold;
	margin: 1em;
}
.fareTotalLuggage{
	font-size: 20px;
	color:red;
	font-weight: bold;
	margin: 1em;
}

.headTravelInsurance {
	background-image:  url(imageFromCss/EuropAssistance_Logo.png) ;
	background-repeat: no-repeat;
	background-position: 3em 0em ;
	margin-top: 1em;
	height: 60px;
}
.coverPrice{
	color: blue;
	font-weight: bold;
	padding-left: 15em;
}
.checboxConfirm{
	padding-left: 15em;

}
.formTravel{
	padding-top: 2em;
}
.textCheckbox{
	font-size: 13px;
}
.totalCheckbox{
	margin-left: 2em;
}
.textCheckboxInsurance{
	font-size: 13px;
	font-weight: bold;
}
.textCheckboxInsurance>span{
	font-weight: normal;
}
.priceSpan{
	margin-left: 1.3em;
	font-size: 13px;

}
.moreDetails{
	margin-left: 1.3em;
	font-size: 13px;
}
.totalCheckbox{
	padding: 1em;
	margin: 0px;
	border: 1px solid #D2D3E6;
	background-color: #DDE0E4;

}
.totalInsurFooter{
	padding: 2em;
	text-align: right;
}
.totalInsuranceName{
	font-weight: bold;
	color: blue;
	padding-right: 2em;
}
.totalInsuranceCost{
	color: red;
	font-size: 20px;
}
.totalArea{
	width: 61em;
	text-align: right;
	color: blue;
	font-weight: bold;
}
.totalPrace{
	color: red;
	font-weight: bold;
	font-size: 20px;
	padding-left: 3em;
}
.refBack {
	text-align: left;
	padding-left: 5.5em;
	position: absolute;
	margin-top: 0.3em;
}
.informationCompany{
	border: 1px solid #DDE0E4;
	background-color: #DDE0E4;
}
.contactLink{

	display:block;
	 float:left;
	  width:300px; 
	 
}
.firstContact{
	margin-left: 12em;
}
.floatList{
	padding-left: 1em;
	list-style-image: url(imageFromCss/greater1.png);
}
.contactNameLink{
	font-size: 20px;
	color: blue;
	font-weight: bold;
}
.imageList{
	list-style: none;
}
.contactInformation{
	border-bottom: 1px dotted gray;
}
.brend{
	font-size: 11px;
	font-weight: bold; 
	padding-left: 17em;
}
.imageLogoStar{
	padding-left: 45em;
}
.adress{
	font-size: 11px;
	padding-left: 17em;
}
.listLinked{

	list-style:none;
}
.listLinked>li{
	margin-right: 0.5em;
	display: inline;
	font-size: 11px;

}
.liAlight{
	margin-left: 13.5em;
}
.borderLi{
	padding: 0px 5px;
}


.progressBar {
	list-style: none;
	padding: 0;
	width:  67em;
	margin: 30px 0px 0em 12.4em;

}
ul.progressBar {
	overflow: hidden;
	background-image: url(imageFromCss/GR_white1.png);
	background-repeat: repeat-x;
}

.progressBar li {

	display: table;
	box-sizing: border-box;
	float: left;
	color: #002D69;
	width: 20%;
	height: 41px;
	border-top: 1px solid #DCD9D9;
	border-bottom: 1px solid #DCD9D9;
	background-image: url(imageFromCss/progressGT1.png);
	background-repeat: no-repeat;
	

}

.progressBar li div {
	display: table-cell;

	font-size: 1.1em;
	vertical-align: middle;
	text-align: center;
}

.progressBar li:first-child {

	background-image: url(imageFromCss/progressGT_firstGR.png);

}

.progressBar .lastState {
	border-right: 1px solid #DCD9D9;

}

.progressBar .activeState {

	background-image: url(imageFromCss/progressGT_activeGR.png);

	background-color: #35588F;

	color: #FFF;

}

.progressBar .activeState+li {

	background-image: url(imageFromCss/progressGT_after_activeGR3.png);

}

.progressBar li:first-child.activeState {

	background-image: url(imageFromCss/progressGT_first_active_bigGR.png);

}




